<form method="post" action="{{ path('commerce_delete', {'id': commerce.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commerce.id) }}">
    <button class="btn">Supprimer</button>
</form>
