{% extends 'base.html.twig' %}

{% block title %}Modifier un commerce{% endblock %}

{% block body %}
    <h1>Modifier un Commerce</h1>

    {{ include('commerce/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('commerce_index') }}">retour à la liste</a>

    {{ include('commerce/_delete_form.html.twig') }}
{% endblock %}
