{% extends 'base.html.twig' %}

{% block title %}Nouveau commerce{% endblock %}

{% block body %}
    <h1>Créer un commerce</h1>

    {{ include('commerce/_form.html.twig') }}

    <a href="{{ path('commerce_index') }}">retour à la liste</a>
{% endblock %}
