<!-- Footer -->
<footer
	class="page-footer fixed-top font-small blue mt-5 pt-2">

	<!-- Footer Links -->
	<div
		class="container-fluid text-center text-md-left">

		<!-- Grid row -->
		<div
			class="row">

			<!-- Grid column -->
			<div
				class="col-md-6 mt-md-0 mt-3">

				<!-- Content -->
				<h5 class="text-uppercase">Faj Xiif</h5>
				<p>24-26 bd Chastenet de Géry
										94814 Villejuif Cedex</p>
				<p>
					Tél : 01 46 78 01 00</p>
				<p>Fax : 01 46 78 50 35</p>
				<p>paulguinot@guinot.asso.fr</p>

			</div>

			<hr
			class="clearfix w-100 d-md-none pb-3">

			<!-- Grid column -->
			<div
				class="col-md-3 mb-md-0 mb-3">

				<!-- Links -->

				<ul class="list-unstyled">
					<li>
						<a href="https://fajxiif.moussandong.com">à propos de Faj Xiif</a>
					</li>
				</li>
				<li>
					<a href="https://fajxiif.moussandong.com">Devenir coursier de Faj Xiif</a>
				</li>

				<li>
					<a href="#">Conditions générales d'utilisation du service</a>
				</li>
				<li>
					<a href="#">Mentions légales</a>
				</li>
			</ul>


		</div>

		<div class="col-md-3 mb-md-0 mb-3">

			<ul class="list-unstyled">
				<li>
					<a href="#">Nous contacter</a>
				</li>
				<li>
					<a href="#">Politique de confidentialité</a>
				</li>
					<li>
					<a href="#">Tarifs</a>
				</li>

			</ul>
		</div>


	</div>
	<!-- Footer Links -->

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">© MoussaSolutionTech 2021

	</div>
	<!-- Copyright -->

</footer>
<!-- Footer -->
